{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    text-align:center;
}

/* MENÚ */
.menu{
    display:flex;
    justify-content:center;
    list-style:none;
    margin-top:30px;
}

.menu li a{
    text-decoration:none;
    background:#2196f3;
    color:black;
    padding:20px 35px;
    border:1px solid black;
    display:block;
}

.menu li a:hover{
    background:#00bfff;
}

/* FORMULARIO */
.contenedor{
    width:700px;
    margin:50px auto;
    background:#66e0ff;
    border:10px solid blue;
    border-radius:40px;
    padding:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.campo{
    display:flex;
    align-items:center;
    margin:15px 0;
}

label{
    width:100px;
    font-weight:bold;
}

input{
    width:300px;
    padding:8px;
}

button{
    width:100px;
    height:100px;
    background:white;
    border:none;
    font-size:20px;
    cursor:pointer;
}